{% extends 'core/base.html' %}

{% block content %}
<style>
    .link-div{
        color: aliceblue;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    a{
        text-decoration: none;
        color: aliceblue;
        font-size: 1.2rem;
    }
</style>
<div class="link-div">
    <a href="{% url 'daily-form' %}">Go to Calculate Salary Form</a>
</div>
<div class="link-div">
    <a href="{% url 'monthly_view' year=current_year month=current_month %}">Display Salary Data for Current Month</a>
</div>
<div class="link-div">
<a href="{% url 'select_datas' %}" >SHIH TE DHENAT PER MUAJT E KALUAR</a>
</div>

{% endblock %}